@import "../scss/mixins";

.aboutMe {
    width: 100%;
    .aboutmeContainer {
        width: 100%;
        background-color: #000000;
        @include flex_x_between_y_center;
        padding-top: 50px;
        
        .slogan {
            height: 100%;;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding-left: 30px;
            h1 {
                font-size: 50px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: center;
                color: white;
            }
        }

    }
    .myStack {
        padding-top: 50px;
        width: 100%;
        background-color: bisque;
        .stackTitle {
            text-align: center;
            h1 {
                font-size: 40px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            }

        }
        .skills {
            display: flex;
            justify-content: space-evenly;
            padding: 50px 0px 50px 0px;

            img {
                width: 8%;
            }

        }
    }
}